:root {
	--combine-blue: hsl(189, 95%, 44%);
	--combine-light-blue: hsl(180, 57%, 57%);
	--combine-hover: hsl(194, 98%, 37%);
	--combine-hovertext: hsl(188, 74%, 53%);
	--combine-dark: hsl(192, 81%, 33%);
}

body {
	margin: 0;
	height: 100svh;
	font-family: "Exo 2", sans-serif;
	background-color: black;
	color: white;
}

header {
	padding: 10px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

header h1 {
	font-size: 4.1rem;
	font-weight: 100;
	margin: 0;
	margin-top: 20px;
	letter-spacing: 25px;
}

footer {
	background-color: black;
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: grid;
	justify-content: center;
}

footer p {
	margin: 8px;
}

footer a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.footer-text {
	font-weight: 300;
	letter-spacing: 5px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
}

footer i {
	font-size: 1.5rem;
}

main {
	background-image: url(/dist/assets/Russels_Lab_80.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 35px;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: var(--combine-blue);
}

.game-middle {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;
	align-items: start;
	margin-left: -75px;
}

#root {
	display: grid;
	height: 100svh;
	grid-template-rows: auto 1fr;
}

.card {
	padding: 0;
	display: grid;
	cursor: pointer;
	border: 2px solid var(--combine-blue);
	overflow: hidden;
	transform: translateX(2px);
}

.card:hover, .start button:hover, .lost button:hover, .won button:hover {
	background-color: var(--combine-hover);
	border-color: var(--combine-hover);
	color: var(--combine-hovertext);
}

.card h3 {
	margin: 0;
	padding: 5px;
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: -20px;
}

.card-container {
	margin: 10px;
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(3, auto);
	z-index: 2;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--combine-dark);
}

.card img {
	width: 140px;
	height: 175px;
	object-fit: contain;
	object-position: center;
	margin-top: -15px;
	transform: scale(1);
	filter: sepia(1) hue-rotate(150deg) saturate(2) contrast(1.2) drop-shadow(2px 2px 5px hsla(0, 0%, 0%, 0.3));
}

.score-container {
	display: grid;
	margin: 10px 5px;
	padding: 0;
	height: 108px;
	width: 215px;
	height: 120px;
	align-items: center;
	border-top: 2px solid var(--combine-blue);
	z-index: 2;
	justify-items: end;
	align-content: center;
	transform: translateX(8px);
}

.score-container h2 {
	padding-right: 30px;
	margin: 0;
	font-weight: 400;
	transform: translateY(-2px);
}

.score-container b{
	font-weight: 400;
	color: var(--combine-light-blue);
	font-size: 3rem;
	width: 40px;
	text-align: end;
}

.score, .high-score {
	display: grid;
	grid-auto-flow: column;
	align-items: baseline;
}

video {
	transform: scale(13.5) translateX(51.5%) translateY(38%);
	filter: brightness(80%);
	border-left: 1px solid var(--combine-blue);
	z-index: 2;
}

.invisible {
	visibility: hidden;
}

.game-top,
.game-bottom {
	z-index: 3;
}

.game-bottom img {
	height: 57px;
	filter: brightness(140%);
	transform: translateY(-5px) scaleX(235%) translateX(34%);
}

.game-top {
	border-bottom: 1px solid var(--combine-dark);
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	color: var(--combine-dark);
	width: 1160px;
	transform: translateX(25px);
}

.top-right {
	display: grid;
	grid-auto-flow: column;
	align-items: end;
	gap: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
}

.top-right p {
	font-size: 0.7rem;
	font-weight: 600;
	margin: 0;
	padding-bottom: 5px;
}

.top-right img {
	height: 50px;
	filter: brightness(100%) sepia(100) saturate(13) hue-rotate(120deg);
}

.top-left {
	font-size: 1.4rem;
	font-weight: 300;
	display: grid;
	grid-auto-flow: column;
	align-items: end;
	margin-bottom: 15px;
	gap: 20px;
}

.top-left p {
	margin: 0;
	letter-spacing: 4px;
}

.top-left b {
	font-weight: 500;
	color: var(--combine-blue);
}

.start, .lost, .won {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	display: grid;
	transform: translateX(-50%) translateY(-30%);
}

.start h2, .start button, .lost h2, .lost button, .won h2, .won button {
	font-weight: 400;
	font-size: 1.5rem;
}

.start button, .lost button, .won button {
	background-color: transparent;
	border: 1px solid var(--combine-blue);
	cursor: pointer;
	color: var(--combine-blue);
	padding: 10px;
	font-size: 1.2rem;
}

.lost svg {
	fill: hsl(356, 89%, 39%);
	height: 40px;
}

.lost-text {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 20px;
}

.temp-background {
	filter: brightness(76%) hue-rotate(7deg);
	position: absolute;
	scale: 50%;
	top: 50%;
	left: 50%;
	transform: scaleX(1.76) translateX(-56.3%) translateY(-93.5%);
	height: 1352px;
	z-index: 1;
}

@media (max-width: 1250px) {
	header, main, footer {
		zoom: 0.8;
	}
}

@media (max-width: 980px) {
	header, main, footer {
		zoom: 0.6;
	}
}

@media (max-width: 750px) {
	header, main, footer {
		zoom: 0.5;
	}
}

@media (max-width: 630px) {
	header, main, footer {
		zoom: 0.4;
	}
}

@media (max-width: 500px) {
	header, main, footer {
		zoom: 0.3;
	}
}

@media (max-width: 370px) {
	header, main, footer {
		zoom: 0.25;
	}
}