:root {
	--combine-blue: hsl(189, 95%, 44%);
	--combine-light-blue: hsl(180, 57%, 57%);
	--combine-dark-blue: hsl(197, 83%, 9%, 0.4);
	--combine-text: hsl(188, 69%, 44%);
	--combine-hover: hsl(194, 98%, 37%);
	--combine-hovertext: hsl(188, 74%, 53%);
}

body {
	margin: 0;
	height: 100svh;
	font-family: "Exo 2", sans-serif;
	background-color: black;
	color: white;
}

header {
	padding: 10px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

header h1 {
	font-size: 4.1rem;
	font-weight: 100;
	margin: 0;
	margin-top: 20px;
	letter-spacing: 25px;
}

footer {
	background-color: black;
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: grid;
	justify-content: center;
}

footer p {
	margin: 8px;
}

footer a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.footer-text {
	font-weight: 300;
	letter-spacing: 5px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
}

footer i {
	font-size: 1.5rem;
}

main {
	background-image: url(./assets/Russels_Lab_80.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;
	gap: 10px;
	align-items: start;
}

main {
	background-image: url(./assets/Russels_Lab_80.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	justify-content: center;
	gap: 10px;
	align-items: start;
	margin-bottom: 35px;
	margin-left: -125px;
}

#root {
	display: grid;
	height: 100svh;
	grid-template-rows: auto 1fr;
}

.card {
	padding: 0;
	color: var(--combine-blue);
	display: grid;
	cursor: pointer;
	border: 2px solid var(--combine-blue);
}

.card:hover {
	background-color: var(--combine-hover);
	border-color: var(--combine-hover);
	color: var(--combine-hovertext);
}

.card h3 {
	margin: 0;
	padding: 5px;
	font-size: 0.8rem;
	font-weight: 600;
}

.card-container {
	margin: 10px;
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(3, auto);
	z-index: 1;
}

.card img {
	width: 140px;
	height: 175px;
	object-fit: contain;
	object-position: center;
}

.score-container {
	display: grid;
	margin: 10px;
	padding: 0;
	height: 108px;
	width: 190px;
	color: var(--combine-blue);
	align-items: center;
	border-left: 4px solid var(--combine-blue);
	z-index: 1;
}

.score-container h2 {
	padding: 0 10px;
	margin: 0;
	font-weight: 300;
}

video {
	transform: scale(14) translateX(52.5%) translateY(43%);
	filter: brightness(80%);
	border-left: 1px solid var(--combine-blue);
}

.invisible {
	visibility: hidden;
}